.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background: #f1f4f9;
    padding: 20px;
}

.card {
    background: white;
    width: 500px;
    border-radius: 14px;
    padding: 35px;
    animation: fadeIn 0.3s ease-in-out;
}

.headerSection {
    text-align: center;
    margin-bottom: 25px;
}

.headerIcon {
    font-size: 45px;
    color: #0d6efd;
}

.headerTitle {
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 10px;
    vertical-align: text-top;
}

.headerSubtitle {
    color: #6c757d;
    font-size: 14px;
}

.formLabel {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

.passwordField {
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    font-size: 18px;
}

.errorText {
    font-size: 13px;
    margin-top: 5px;
    color: #dc3545;
}

/* Strength Meter */
.strengthWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.strengthBar {
    height: 8px;
    flex: 1;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    background: #dcdcdc;
}

/* Dynamic strength colors */
.strength1 {
    background: #ff4d4d;
}

.strength2 {
    background: #ff944d;
}

.strength3 {
    background: #ffc107;
}

.strength4 {
    background: #4caf50;
}

.strength5 {
    background: #007bff;
}

.strengthLabel {
    font-size: 13px;
    font-weight: 600;
    color: #444;
}

.securityHint {
    font-size: 13px;
    color: #5a5a5a;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 5px 5px 1px 5px;
    margin-top: 15px;
}

.securityHint ul {
    padding-left: 18px;
}

.securityHintRules {
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ok {
    color: #198754;
    /* Bootstrap green */
    font-weight: 600;
}

.notOk {
    color: #6c757d;
    /* muted grey */
    opacity: 0.7;
}

.securityHintRules li span {
    font-weight: bold;
    margin-right: 6px;
}

.invalidCharWarning {
    margin-top: 5px;
    color: #dc3545;
    background: #ffe6e6;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.85rem;
    border-left: 3px solid #dc3545;
    animation: shake 0.2s ease-in-out;
}

.securityHint p {
    margin-bottom: 0.2rem;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}